# Virtual env
venv/

# Python caches
__pycache__/
*.pyc

# Data & logs
data/*.duckdb
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment/secrets
.env
config/*.secret.yaml

# DuckDB
data/*.duckdb
data/*.duckdb.*